@model IEnumerable<HotelBillingMVC.Models.DiningTable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admindashboard.cshtml";
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/templatemo-klassy-cafe.css" rel="stylesheet" />
    <link href="~/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Billing.css" rel="stylesheet" />

}

<h1>Dining Table Managment</h1>

<p>
    <a asp-action="Create" class="button-link">Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.BranchId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.SeatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Tables)
 *@                Branch Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.BranchId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.SeatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tables.BranchName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="button-link">Update</a> 
@*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                *@                <a asp-action="Delete" asp-route-id="@item.Id" class="button-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<!-- jQuery -->
<script src="~/js/jquery-2.1.0.min.js"></script>
<!-- Bootstrap -->
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="~/js/owl-carousel.js"></script>
<script src="~/js/accordions.js"></script>
<script src="~/js/datepicker.js"></script>
<script src="~/js/scrollreveal.min.js"></script>
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/imgfix.min.js"></script>
<script src="~/js/slick.js"></script>
<script src="~/js/lightbox.js"></script>
<script src="~/js/isotope.js"></script>

<!-- Global Init -->
<script src="~/js/custom.js"></script>
<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>

