@model HotelBillingMVC.Models.Reservation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeslteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeslteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationBranches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationBranches.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationTables.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeslots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeslots.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservationuser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResevationRest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResevationRest.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
